<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Final Countdown</title>
</head>
<body>
	<h1>Hello world</h1>
	<ol>
		{% for exam in exams %}
		<li
		>
			{{ exam.name }}: 
		</li>
		<dl
			id="{{ exam.id }}"
		>
			00D:00H:00M:00S
		</dl>
		{% endfor %}
	</ol>
</body>
{{ exams|json_script:"exams" }}
<script>
	const exams = JSON.parse(document.getElementById("exams").textContent);
	setInterval(() => {
		for (var i=1; i<=exams.length; i++) {
			var li = document.getElementById(i);
			var delta = new Date(exams[i-1].due_date) - new Date()

			var days = Math.floor(delta / (1000 * 60 * 60 * 24)); 
			delta -= Math.floor(days * (1000 * 60 * 60 * 24))

			var hours = Math.floor(delta / (1000 * 60 * 60)); 
			delta -= Math.floor(hours * (1000 * 60 * 60))
			
			var minutes = Math.floor(delta / (1000 * 60)); 
			delta -= Math.floor(minutes * (1000 * 60))

			var seconds = Math.floor(delta / (1000));
			
			li.textContent = `${days.toString().padStart(2, "0")}D:${hours.toString().padStart(2, "0")}H:${minutes.toString().padStart(2, "0")}M:${seconds.toString().padStart(2, "0")}S`;
		}

	}, 1000)
</script>
</html>